body {
  padding: 1.5rem;
  line-height: 1.44;
  color: #212529;
  font-size: 21px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 532px;
  margin: 2.5rem auto;
}

.children-margin > * + * {
  margin-top: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

.play {
  position: relative;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  border-top: 4px solid #D6336C;
  border-bottom: 4px solid #D6336C;
  background-color: #FFEAF6;
}

.play.blue {
  border-top: 4px solid #3B5BDB;
  border-bottom: 4px solid #3B5BDB;
  background-color: #DBE4FF; 
}

.play-inner {
  max-width: 500px;
  margin: 0 auto;
}


.canvas {
  position: relative;
  left: 120px;
  max-width: 200px;
}

.canvas-inner {
  width: 100%;
  padding-top: 60%;
  background: url(../images/bg.png) top left / cover no-repeat;
}

.character-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.character {
  position: absolute;
  top: 42px;
  left: -60px;
  width: 18%;
}

.character-inner {
  width: 100%;
  padding-top: 100%;
  background: url(../images/boat.png) top left / cover no-repeat;
}

.canvas.full {
  overflow: hidden; /* to hide character when it's out of frame */
  left: 0;
  max-width: 100%;
}

.canvas.full .character {
  top: 0;
  left: 0;
}

.canvas.full.demo .canvas-inner span {
  position: absolute;
  display: block;
  width: 2.7%;
  height: 4.5%;
  background-color: #FB0000;
  border-radius: 50%;
  transform: scale(.8);
}

.canvas.full.demo .clicking-cursor {
  position: absolute;
  left: 19.5%;
  top: 16%;
  width: 5.4%;
  height: 9%;
}

.canvas.user {
  left: 151px;
}

.canvas.user .character {
  left: -120px;
}

.intro-header {
  position: relative;
}

.intro-header .clicking-cursor {
  position: absolute;
  right: -38px;
  bottom: -4px;
}

/* 123 */

.instruction-123 {
  margin-bottom: 14rem;
}

.instruction-123 > div {
  display: flex;
  margin-bottom: 2.5rem;
}

.instruction-123-desc {
  margin-left: 1rem;
}

.instruction-123-desc > label {
  margin-bottom: .5rem;
}

.instruction-123-header {
  margin-bottom: .5rem;
  font-weight: bold;
}

.instruction-123-extra {
  font-size: 18px;
  font-weight: 600;
  opacity: .75;
}


/* instructions */

.instructions {
  position: absolute;
  pointer-events: none;
  max-width: none;
}

.instructions-1 {
  top: -38px;
  left: -125px;
  width: 84px;
}

.instructions-2 {
  top: -70px;
  left: 100px;
  width: 94px;
}

.instructions-3 {
  bottom: -185px;
  left: -105px;
  width: 275px;
}

.instructions-4 {
  top: 26px;
  left: -70px;
  width: 58px;
}



.code {
  display: block;
  width: 100%;
  min-height: 240px;
  border: 4px solid #111;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body .crostini {
  background-color: #1F8535;
}

/* labels */

.character-label, .canvas-label {
  position: absolute;
  top: 0;
  right: -6px;
  transform: translate(0, -120%);
  line-height: 1;
  font-size: 19px;
  font-weight: bold;
}

.canvas-label {
  right: auto;
  left: 0;
  transform: translate(0, -140%);
}

/* fix iOS Safari/Chrome bug with not being able to drag the character */
.draggable {
  touch-action: none;
}

.drag-started .character-label, .drag-started .canvas-label, .drag-started .instructions-4 {
  display: none;
}

/* user animation */

.hide-user-animations .canvas {
  display: none;
}

.hide-user-animations .reset-animation {
  display: none;
}


/* utils */

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.h1 {
  font-size: 3rem;
  line-height: 1.15;
}

.h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.h3 {
  font-size: 2rem;
  line-height: 1.25;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: 400;
}

.b {
  font-weight: bold;
}

.nm {
  margin-top: 0;
}

@media (min-width: 700px) {
  .wide, .play {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

@media (min-width: 700px) {

  .play {
    border: 3px solid #D6336C;
    border-radius: 5px;
  }

  .play.blue {
    border: 3px solid #3B5BDB;
    border-radius: 5px;
  }
}



/*

  CUSTOM BUTTON

  &

  CUSTOM FILE INPUT 

  <input type="file" name="file" id="file" class="custom-file-input" />
  <label for="file">Choose a file</label>

*/

.custom-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button, .custom-file-input + label {
  box-sizing: border-box;
  flex: 0 0 auto;
  display: inline-block;
  padding: .68rem 1.3rem;
  background-color: #111;
  border: 1px solid transparent;
  border-radius: 9999px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.44;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button.small, .custom-file-input.small + label {
  padding: .45rem 1.08rem;
  font-size: 1rem;
}

.button *, .custom-file-input + label * {
  pointer-events: none;
}

.button:hover, .custom-file-input:focus + label, .custom-file-input + label:hover {
  background-color: #262626;
}

.button:focus, .custom-file-input:focus + label, .custom-file-input.has-focus + label {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}



/* details & summary */

details {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  padding: .5em .5em 0;
}

details * {
  box-sizing: border-box;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  cursor: pointer;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  margin-bottom: .5em;
}



.download-assets {
  position: absolute;
  bottom: 16px;
  right: 36px;
  width: calc(158px * 1.18);
  height: calc(175px * 1.18);
  background: url(../images/download-assets.png) top left / cover no-repeat;
}

.download-assets:hover {
  opacity: .8;
}














