.container {
  max-width: 600px;
  margin: 60px auto;
}

label {
  display: block;
  margin-bottom: 2rem;
}

.animation-container {
  position: relative;
  height: 120px;
  margin-bottom: 2rem;
}

.animation-container.colliding .character {
  background-color: blue;
}

.character {
  position: absolute;
  top: 42px;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: red;
}

.canvas {
  position: absolute;
  top: 0;
  left: 60px;
  width: 200px;
  height: 120px;
  background-color: #222;
}















